.flex{
  display: flex;
}
.grid{
  display: grid;
}
.red{
  color: var(--red);
}
.services-bg{
  background-color: var(--gray-100);
}
.text-md{
  color: var(--gray-400);
  font: var(--text-md);
}

.text-sm{
  color: var(--gray-400);
  font: var(--text-sm);
}